server_tokens off;

server {
    listen 80 default_server;
    server_name *.{{ domain }} {{ domain }};

    location /.well-known/acme-challenge {
        root /var/www/letsencrypt;
        try_files $uri $uri/ =404;
    }

    location / {
        rewrite ^ https://{{ domain }}$request_uri? permanent;
    }
}

# Forward proxy for local network to access Internet
server {
   listen 8888;
    location / {
        allow 192.168.1.0/24;
        deny all;
        resolver 8.8.8.8;
        proxy_pass http://$http_host$uri$is_args$args;
    }
}
